.calculator {
    margin: 0 auto;
  
    height: 100%;
    width: 100%;
    max-width: 28rem;
    background-color: #f0f0f0;
}


.display{
    position: relative;
    height: 25%;
    width : 100%;
    text-align: right;
    overflow: hidden;
    
    /* display: flex;
    align-items: baseline; */
    /* background-color: aqua; */
}

.display span{
    
    font-size: 3.5rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    margin-left: 2rem;
    display: inline-block;
}

.buttonArea{
   
    height: 75%;
}

.button{
    position: relative;
    width: 23.75%;
    height:18.4%;
    box-sizing:border-box;
    float:left;
    margin-left: 1%;
    margin-bottom:1%;
    display: flex;
    align-items: center;
   
    background-color:white;
    opacity: 0.8; 
    /* text-align: center; */
  
    /* line-height: 18.7%; */
    /* font-size: 1rem; */
   
}

.button span{
    font-size: 3rem;
    /* font-weight: bold; */
    display: inline-block;
    margin: 0 auto;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translate(-50%); */
   
}


.button:nth-child(4n){
    margin-right:1%;
}

.button:nth-of-type(1),.button:nth-of-type(2),.button:nth-of-type(3),.button:nth-of-type(4){
    margin-top: 1%;
}
